{% comment %} questoes/templates/questoes/widgets/tiptap_widget.html {% endcomment %}
<div class="tiptap-admin-container">
    <div class="tiptap-toolbar">
        <button type="button" class="btn-tiptap" data-command="toggleBold" title="Negrito"><b>B</b></button>
        <button type="button" class="btn-tiptap" data-command="toggleItalic" title="Itálico"><i>I</i></button>
        <button type="button" class="btn-tiptap" data-command="toggleUnderline" title="Sublinhado"><u>U</u></button>
        <button type="button" class="btn-tiptap" data-command="toggleBulletList" title="Lista"><i class="fas fa-list-ul"></i></button>
        <button type="button" class="btn-tiptap" data-command="toggleOrderedList" title="Lista Numerada"><i class="fas fa-list-ol"></i></button>
    </div>
    <div class="tiptap-editor">
        {# O Tiptap será instanciado aqui pelo JavaScript e preenchido com o valor abaixo #}
    </div>
</div>
{# Este é o <textarea> que o Django usa para enviar os dados. Ele fica oculto. #}
<textarea name="{{ widget.name }}" class="tiptap-hidden-textarea d-none" {% include "django/forms/widgets/attrs.html" %}>{{ widget.value|default_if_none:'' }}</textarea>