

/* templates/static/base/css/base.css */

/* Adicione estas regras para um layout de "rodapé fixo" */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Faz o conteúdo principal ocupar o espaço disponível */
}